*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
input{
outline: none;
  border: none;
  margin: auto;
  margin-bottom: 2rem;
  padding: 0.8rem;
  border-radius: 0.18rem;
  box-shadow: 0px 0px 1px 1px lightgrey;
}
h3{
    font-family:sans-serif;
    font-size: 1rem;
}
h1{
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.cardNo{
    width: 80%;
    margin: auto;
}
.cardNo input{
    width: 100%;
}
.wrapper input{
    width: 7rem;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.checkout{
    width: 23rem;
    background-color: beige;
    padding-top: 1rem;
    margin: auto;
    margin-top: 6rem;
    box-shadow: 0px 0px 1.5px gray;
}
button{
  outline: none;
  border: none;
  font-size: 1rem;
  width: 80%;
  margin: auto;
  border-radius: 0.19rem;
  cursor: pointer;
  font-weight: bolder;
  border: 1px solid rgb(188, 188, 188);
  background-color: rgb(30, 248, 248);
  padding: 0.76rem 1.7rem;
  margin-bottom: 2rem;
}
.btnContainer{
    width: 100%;
    margin: auto;
    text-align: center;
}
@media (max-width:400px) {
    h3{
        font-size: 0.9rem;
    }
    input{
      padding: 0.65rem;
      margin-bottom: 1.3rem;
    }
    button{
        padding: 0.6rem 1.7rem;
        margin-top: 0.7rem;
    }
    .checkout{
        width: 21rem;
    }
    .wrapper input{
        width: 6rem;
    }
}
@media (max-width:356px) {
    .checkout{
        width: 19rem;
    }
}